{% extends "backofficeforum.html.twig" %}
{% block body %}
    {% if is_granted('ROLE_ADMIN') %}

<center>
    </br></br></br></br>
    {%for entityy in modeles %}
        <table id="customers">
            <tr>
                <th colspan="4"><h4 >{{ entityy.type }}</h4></th>
            </tr>
            {%for entity in modele %}
                {% if entity.categorie==entityy.type %}
                    <tr  >
                        <td> {{ entity.id }}</td>
                        <td> {{ entity.titre }} </td>
                        <td> {{ entity.description }} </td>
                        <td><h6>Le {{ entity.date|date("d/m/Y") }}</h6></td>
                        <td> <a href="{{ path('repondre',{id_q:entity.id} ) }}">Consulter</a></td>
                        <td> <a href="{{ path('supprimer',{id_q:entity.id}) }}">Supprimer</a></td>
                    </tr>

                {% endif %}
            {% else %}
                <tr>
                    <td><h6>Aucune donnée sur cette categories</h6></td>
                </tr>
            {% endfor %}
        </table>
        </br></br></br></br></br></br>
    {% endfor %}
</center>
    {% endif %}
{% endblock %}
